// Tipografías
$lexend-font: "Lexend Deca", sans-serif;
$nosifer-font: "Nosifer", sans-serif;
$tradewinds-font: "Trade winds", system-ui;
$tektur-font: "Tektur", sans-serif;
$big-shoulders-font: "Big Shoulders", sans-serif;