// Variables
$layout-color: #08040b;
$title-layout-color: #5c36f3;
$color-font-footer: #d8b3e0;
$nov-color: #141c51;
$nov-color-2: #4562f1;
$borde-redondeado: 25px;
$background-color-mc:#03090a;
$color-sub-musica: #75cdd5;

// Colores
$white: #fff;
$black: #000;